/* Variables */
:root {
  --dark: #0a0a23;
  --darkhalf: #0a0a23cc;
  --light: #f5f6f7;
  --lighthalf: #f5f6f7aa;
  --greenhalf: #adff2f88;
  --green: #adff2f;
  --red: #dc143c;
  --redhalf: #dc143ccc;

}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;

}

#root {
  background-color: var(--light);
}

/* Header Styles */
#header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: var(--light);
  position: sticky;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s ease;
}

#header.is-visible,
#header:hover {
  opacity: 1;
}

#logo {
  height: 7vh;
}

#logo:hover {
  cursor: pointer;
}

#navbar {
  font-size: 1.5rem;
  height: 7vh;
  width: 50%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  margin: 4%;
  font-weight: 900;
  transition: 0.2s ease-in-out;
  color: var(--dark);
}

.nav-link:hover {
  transform: scale(1.5);
  text-shadow: 1px 1px 3px var(--dark);
}

/* Welcome styles */
#welcome {
  background-color: var(--dark);
  height: 93vh;
  color: var(--light);
  padding: 8vh 10% 5% 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#welcomeMop {
  width: 450px;
  height: 450px;
  border-radius: 50%;
}

#typewriterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65vw;
}

#whoIAm {
  font-size: 1.5rem;
  margin: 0 3vw;
  margin-top: 2%;
}

#welcome h1 {
  font-weight: 900;
  font-size: 4rem;
}

.typewriter {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 3vw;
  margin-top: 2%;
  border: 0px solid var(--green)
}

/* The typing effect */
@keyframes matrix {
  0% {
    border-right-width: 20px;
  }

  99% {
    border-right-width: 20px;
  }

  100% {
    border-right-width: 0px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: var(--green);
  }
}

#projectQuality {
  font-size: 1.7rem;
}

li.typewriter {
  font-size: 1.5rem;
  font-weight: 100;
  margin-left: 9vh;
  text-align: left;
  font-style: italic;
}

#welcome span {
  font-weight: 900;
  background: linear-gradient(to right,
      hsl(98 100% 62%),
      hsl(204 100% 59%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* Skills styles */
#skills {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8vh 10% 5% 10%;
  color: var(--dark);
}

#skills h2 {
  text-shadow: 0.5px 0.5px 2px var(--dark);
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 2%;
}

#core h4 {
  font-size: 1.5rem;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

#secondary h4 {
  font-size: 1.4rem;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

#support,
#devTools,
#skillContainer ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skillContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: auto;
}

#core {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#core ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 900;
}

#core img {
  height: 60px;
  width: 60px;
  margin-bottom: 0.5vh;
}

#secondary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 5%
}

#devTools,
#support {
  display: flex;
  flex-direction: column;
}

#devTools ul,
#support ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style: none;
  font-weight: 900;
}

#devTools ul,
#support ul,
#core ul {
  border: 3px solid var(--darkhalf);
  border-radius: 20px;
  height: 100%;
  animation: fade 3s infinite;
}

@keyframes fade {
  0% {
    box-shadow: 0 0 0 0 rgba(132, 255, 61, 0), 0 0 0 0 rgb(46, 171, 255, 0);
  }

  50% {
    box-shadow: 0 0 10px 5px rgba(132, 255, 61, 0.5), 0 0 10px 5px rgb(46, 171, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(132, 255, 61, 0), 0 0 0 0 rgb(46, 171, 255, 0);
  }
}

#support img,
#devTools img {
  height: 40px;
  width: 40px;
  margin-bottom: 0.5vh;
}

#support li,
#devTools li,
#core li {
  margin: 4%;
  transition: transform 0.2s ease-in-out;
}

#support li:hover,
#devTools li:hover {
  transform: scale(1.3);
  font-weight: 900;
}

#core li:hover {
  transform: scale(1.3);
  font-weight: 900;
}


/* Projects styles */


#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  padding: 8vh 10% 5% 10%;

}

#projects h2 {
  color: var(--dark);
  text-shadow: 0.5px 0.5px 2px var(--dark);
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 3%;
}

.case {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 4px solid var(--darkhalf);
  width: 90%;
  height: auto;
  margin: 4% 0;
  gap: 2%;
  box-shadow: 20px 20px var(--darkhalf);
  border-radius: 20px;
}

.caseInfo {
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.caseName {
  width: 90%;
  height: auto;
  color: var(--dark);
  margin-top: 2%;
  font-size: 1.5rem;
  text-align: center;
  padding: 1%;
}

.caseDetail {
  width: 90%;
  height: auto;
  color: var(--dark);
  margin-top: 1%;
  font-size: 1rem;
  text-align: center;
  padding: 1%;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  color: var(--dark);
  margin-top: 1%;
  font-size: 1rem;
  text-align: center;
  padding: 1%;
}

.label {
  color: var(--dark);
  padding: 1% 2%;
  margin: 1%;
  background-color: var(--greenhalf);
  border-radius: 20px;
}

.codeLink {
  width: 50%;
  max-width: 200px;
  text-align: center;
  padding: 1%;
  margin: 1%;
  text-decoration: none;
  background-color: var(--darkhalf);
  color: var(--light);
  transition: transform 0.2s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  border-radius: 10px;
}

.prewiewLink {
  width: 50%;
  max-width: 200px;
  text-align: center;
  color: var(--dark);
  padding: 1%;
  margin: 1%;
  text-decoration: none;
  background-color: var(--redhalf);
  color: var(--light);
  transition: transform 0.2s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  border-radius: 10px;
}

.prewiewLink:hover {
  transform: scale(1.1);
  font-weight: 900;
  background-color: var(--red);
}

.codeLink:hover {
  transform: scale(1.1);
  font-weight: 900;
  background-color: var(--dark);
}

.previewer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  background-color: var(--light);
  border-radius: 15px;
}

.previewImg {
  border-radius: 0 20px 20px 0;
  height: 100%;
  width: 100%;

  object-fit: cover;
  border-radius: 15px;
  animation: appear 1s forwards ease-in-out;
  overflow: hidden;


}

.hidden {
  animation: disappear 0s forwards ease-in-out
}

@keyframes disappear {
  0% {
    display: flex;
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    display: flex;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}


/* About styles */

#about {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8vh 10% 5% 10%
}

#about h2 {
  color: var(--dark);
  text-shadow: 0.5px 0.5px 2px var(--dark);
  font-weight: 900;
  font-size: 3rem;
}

#aboutText {
  margin-top: 2%;
  text-align: center;
  align-self: center;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark);
}

#about a {
  text-decoration: none;
  color: var(--red);
}


/* footer styles */

#footerMain {
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  color: var(--light);
  gap: 2%;
  padding: 2% 2% 0 2%;

}

#contact a {
  border-radius: 50%;
  display: flex;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--light);
  background-color: var(--dark);
  transition: 0.3s ease-in-out;
  margin: 3%;
}

#contact a:hover {
  background-color: var(--red);
}

#footerMain * {
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  justify-content: center;
  align-items: center;
  color: var(--light);
}

#outLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 100%;
  height: auto;

}

#contact h3,
#documents h3 {
  font-size: 1.7rem;
  margin-bottom: 1vh;
  width: 100%;
}

#contact,
#documents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#contactLinks {
  width: 100%;
}

#myemail {
  width: 100%;
  display: flex;
  margin-bottom: 1vh;
  font-size: 1.2rem;
  width: 100%;
}

#mailicon {
  font-size: 1.3rem;
  margin-left: 3%;
}

#icons {
  width: 100%;
  margin-bottom: 4%;
  display: flex;
}

#documents {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#resume,
#fullPortfolio {
  background-color: orange;
  font-size: 1.2rem;
  margin: 1.5%;
  padding: 0.75%;
  border-radius: 15px;
  color: black;
  border: 0;
  transition: 0.3s ease-in-out;
}

#resume:hover {
  background-color: var(--red);
}

#fullPortfolio:hover {
  background-color: gray;
  color: var(--light);
}





@media only screen and (max-width:480px) {

  /* phone */
  /* header */
  #logo {
    display: none;
  }

  #navbar {
    width: 100%;
    max-width: 800px;
  }

  .nav-link {
    font-size: 5vw;
  }

  .nav-link:hover {
    transform: scale(1.3);
    text-shadow: 1px 1px 1px black;
  }

  /* welcome */
  #welcomeMop {
    display: none;
  }

  #welcome {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #welcome * {
    text-align: center;
    padding: 1%;
    margin: 1%;
    text-indent: 0;
  }

  #welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
  }

  #typewriterContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 93vh;
  }

  #qualityList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #greetings {
    font-size: 3rem !important;
  }

  #whoIAm {
    font-size: 1.5rem;
  }

  /* skills */

  #skillContainer {
    width: 100%
  }

  #core ul {
    flex-wrap: wrap;
  }

  #core img {
    width: 40px;
    height: 40px
  }

  #core li {
    font-size: 0rem;
  }

  #secondary li {
    font-size: 0rem;
  }

  #secondary h4 {
    width: 70%;
    text-align: center;
    font-size: 4vw;
  }

  /* projects */
  .case {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    justify-content: space-evenly;
  }

  .previewer {
    width: 100%;
    height: 45vw;
  }

  .labels {
    justify-content: center;
  }

  /* footer */

  #outLinks {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
  }
}

@media only screen and (min-width:480px) and (max-width: 599px) {

  /* tablet or big phone */
  /* header */
  #logo {
    display: none;
  }

  #navbar {
    width: 100%;
    max-width: 800px;
  }

  .nav-link:hover {
    transform: scale(1.3);
    text-shadow: 1px 1px 1px black;
  }

  /* welcome */
  #welcomeMop {
    display: none;
  }

  #welcome {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #welcome * {
    text-align: center;
    padding: 1%;
    margin: 1%;
    text-indent: 0;
  }

  #welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
  }

  #typewriterContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 93vh;
  }

  #qualityList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  /* skills */

  #skillContainer {
    width: 100%
  }

  #core img {
    width: 40px;
    height: 40px
  }

  #core li {
    font-size: 1rem;
  }

  #secondary h4 {
    width: 70%;
    text-align: center;
  }

  /* projects */
  .case {
    display: flex;
    flex-direction: column;
  }

  .previewer {
    width: 100%;
    height: 45vw;
  }

  .labels {
    justify-content: center;
  }

  /* footer */

  #outLinks {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
  }
}

@media only screen and (min-width:600px) and (max-width: 767px) {

  /* tablet */
  /* header */
  #navbar {
    width: 100%;
    max-width: 800px;
  }

  .nav-link:hover {
    transform: scale(1.3);
    text-shadow: 1px 1px 1px black;
  }

  /* welcome */
  #welcome {
    flex-direction: column;
  }

  #whoIAm,
  #greetings,
  #projectQuality {
    text-align: center;
  }

  #qualityList li {
    margin: 1% 0
  }

  #qualityList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  #welcomeMop {
    width: 30vw;
    height: 30vw;
  }

  #typewriterContainer {
    width: 85vw;
    height: 100%;
    align-items: center;
    gap: 4%
  }

  /* skills */
  #core img {
    width: 40px;
    height: 40px
  }

  #core li {
    font-size: 1rem;
  }

  #secondary h4 {
    width: 70%;
    text-align: center;
  }

  /* projects */
  .case {
    display: flex;
    flex-direction: column;
  }

  .previewer {
    width: 100%;
    height: 45vw;
  }

  .labels {
    justify-content: center;
  }

  /* footer */

  #outLinks {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
  }
}

@media only screen and (min-width:768px) and (max-width: 991px) {

  /*  small laptop or tableet */
  /* header */
  #navbar {
    width: 100%;
    max-width: 800px;
  }

  /* welcome */
  #welcome {
    flex-direction: column;
  }

  #whoIAm,
  #greetings,
  #projectQuality {
    text-align: center;
  }

  #qualityList li {
    margin: 1% 0;
    margin-left: 10%;
  }

  #qualityList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto
  }

  #welcomeMop {
    width: 30vw;
    height: 30vw;
  }

  #typewriterContainer {
    width: 85vw;
    height: 100%;
    align-items: center;
    gap: 4%
  }

  /* skills */
  /* projects */

}

@media only screen and (min-width:992px) and (max-width: 1199px) {

  /* laptop */
  /* header */
  /* welcome */
  #welcomeMop {
    width: 30vw;
    height: 30vw;
  }

  #typewriterContainer {
    width: 65vw;
  }

  /* skills */
  /* projects */

}

@media only screen and (min-width:1200px) and (max-width: 1919px) {
  /* desktopscreen */
  /* header */
  /* welcome */
  /* skills */
  /* projects */

}

@media only screen and (min-width:1920px) {
  /*  big desktops or highdef */
  /* header */
  /* welcome */
  /* skills */
  /* projects */
}